$primary: red;
$seconday: blue;

@import "../lib/bootstrap/scss/_functions.scss";
@import "../lib/bootstrap/scss/_variables.scss";
@import "../lib/bootstrap/scss/_mixins.scss";
@import "../lib/bootstrap/scss/bootstrap.scss";

/*$red: red;
$hoverlink: #00ff21;

body {
    > p, div {
        color: $red;
    }

    a {
        color: $red;

        &:hover {
            color: $hoverlink;
        }
    }
}*/
